<nav class="sidebar sidebar-offcanvas" id="sidebar" style="position: fixed; height: 100%; background-color: #05123a;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="./dashboard.php">
        <i class="mdi-view-quilt mdi menu-icon"></i>
        <span class="menu-title" style="font-size: large">Dashboard</span>
      </a>
    </li>
    <li class="nav-item sidebar-category">
      <p>Menu</p>
    </li>
  
    <li class="nav-item" style="font-size: medium">
      <a class="nav-link" href="./clubList.php">
        <i class="mdi-view-headline mdi menu-icon"></i>
        <span class="menu-title">Clubs</span>
      </a>
    </li>

    <li class="nav-item" style="font-size: medium">
      <a class="nav-link" href="./natList.php">
        <i class="mdi-view-headline mdi menu-icon"></i>
        <span class="menu-title">Nationalité</span>
      </a>
    </li>

    <li class="nav-item" style="font-size: medium">
      <a class="nav-link" href="./statistique.php">
        <i class="mdi-view-headline mdi menu-icon"></i>
        <span class="menu-title">Statistique</span>
      </a>
    </li>

  </ul>
</nav>