<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="./dashboard.php">
        <i class="mdi-view-quilt mdi menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item sidebar-category">
      <p>Menu</p>
      <span></span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./addPLayer.php">
        <i class="mdi-view-headline mdi menu-icon"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="./chartjs.php">
        <i class="mdi mdi-chart-pie menu-icon"></i>
        <span class="menu-title">Charts</span>
      </a>
    </li>

  </ul>
</nav>